.product{
    padding: 20px;
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 1px 1px grey;
    border-radius: 20px;;
}
.product img{
    height: 200px;
}

.product .product-description{
    display: flex;
    flex-direction: column;
}

.product .product-description p+p{
    padding-top: 10px;
}

.product .product-description p{
    display: inline;
}
.product button{
    padding: 8px 12px;
    border-radius: 10%;
    border: none;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}