.product{
    padding: 20px;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    text-align: center;
    border: solid 1px lightgrey;
    box-shadow: 1px 1px lightgrey;
    border-radius: 20px;;
}
.product img{
    height: 200px;
}

.product .product-description{
    display: flex;
    flex-direction: column;
}

.product .product-description p+p{
    padding-top: 10px;
}

.product .product-description p{
    display: inline;
}
.product button{
    padding: 8px 10px;
    border-radius: 15%;
    border: none;
    margin-top: 20px;
}